name: Package and release
on:
    push:
        tags:
            - 'v*'
permissions:
  contents: write
jobs:
    release:        
        runs-on: ubuntu-latest
        env:
            GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Clone project
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Package and release
              uses: BigWigsMods/packager@v2
